@import "variables";

.btn-default {
  background-color: $gray-lighter;
}

.btn-primary {
  background-color: $color-quattro;
  border-color: darken($color-quattro, 2.5%);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: darken($color-quattro, 2.5%);
  border-color: darken($color-quattro, 5%);
}

.btn-success {
  background-color: $green;
  border-color: darken($green, 10%);
}

.title-action > ul.list-inline {
  margin: 0;
}