@import "variables";

.white {
  color: #FFFFFF !important;
}

.red {
  color: $red !important;
}

.orange {
  color: $orange !important;
}

.yellow {
  color: $yellow !important;
}

.green {
  color: $green !important;
}

.blue {
  color: $blue !important;
}

.pace .pace-progress {
  background: $pink;
}

/* --------------------------------------------------
    BACKGROUND COLORS
-------------------------------------------------- */

.bg-red {
  background-color: $red;
}

.bg-orange {
  background-color: $orange;
}

.bg-blue {
  background-color: $blue;
}

.bg-green {
  background-color: $green;
}

/* --------------------------------------------------
    PADDING
-------------------------------------------------- */

.padding-20 {
  padding: 20px !important;
}

/* --------------------------------------------------
    SHADOWS
-------------------------------------------------- */

.shadow {
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}


/* --------------------------------------------------
    ALERTS
-------------------------------------------------- */

.alert {
  border: none;
  border-radius: 0px;
  margin: 0 -15px;
  padding: 22px 50px 21px 25px;
}

.alert > i.fa {
  color: #FFFFFF;
}

.alert-success {
  color: #FFFFFF;
  background-color: $green;
  border-color: darken($green, 5%);
}

.alert-danger {
  color: #FFFFFF;
  background-color: $red;
  border-color: darken($green, 5%);
}

.close-homepage-alert {
  text-shadow: none;
  opacity: 1;
  top: 0;
  outline: none;
}


/* --------------------------------------------------
    BADGES
-------------------------------------------------- */

.badge-primary {
  background-color: $blue;
}

.badge-success {
  background-color: $green;
}

.badge-warning {
  background-color: $orange;
}

.badge-danger {
  background-color: $red;
}


/* --------------------------------------------------
    LABELS
-------------------------------------------------- */

.label-primary {
  background-color: $blue;
}

.label-success {
  background-color: $green;
}

.label-warning {
  background-color: $orange;
}

.label-danger {
  background-color: $red;
}


/* --------------------------------------------------
    TRANSFORM
-------------------------------------------------- */




::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #FFFFFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #FFFFFF;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #FFFFFF;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFFFFF;
}
