@import "variables";

.ibox-title {
  border-width: 0;
}

.ibox-title > h5 {
  color: #3a3a3a;
}

.ibox-title .label {
  float: none;
}

.ibox-content {
  padding: 35px 40px 40px 40px;
}

.ibox-tools a {
  color: $color-quattro;
}

/* ----- */
.contact-box.center-version {
  border: none;
}