@import "variables";

.navbar-fixed-top, .navbar-static-top {
  background: $color-primary;
}

body.mini-navbar .nav-header {
  background-color: darken($color-secondary, 10%);
}

/* --------------------------------------------------
    HAMBURGER MENU
-------------------------------------------------- */

.minimalize-styl-2 {
  margin-left: 25px;
  margin-right: 25px;
}

/* --------------------------------------------------
    UPPER RIGHT NAV BOX
-------------------------------------------------- */

.nav-header {
  background: url("/img/avatar/bill_murray@100x100.jpg") no-repeat;
  background-size: cover;  background: none;
  background-color: darken($color-secondary, 10%);
  background-color: $color-primary;
  border-bottom: solid 5px darken($color-secondary, 15%);
  padding: 35px 25px;
}

.nav-header a {
  color: #FFFFFF;
}

.dropdown-menu {
  border-radius: 2px;
  box-shadow: 0 2px 20px rgba(0,0,0, 0.375);
}

/* --------------------------------------------------
    TOP NAV
-------------------------------------------------- */
.navbar-form-custom .form-control {
  background-color: transparent;
  width: 300px;
}

.algolia-search-topnav {
  color: #9f9f9f;
}

/* --------------------------------------------------
    SIDEBAR
-------------------------------------------------- */

.nav > li.active {
  border-left: 4px solid darken($color-secondary, 25%);
  background: darken($color-secondary, 10%);
}

.nav > li > a {
  color: #f1f2f3;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
  background-color: darken($color-secondary, 10%);
}

.nav-second-level > li > a {
  font-weight: 400;
}

body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .nav-second-level,
.mini-navbar .nav li:focus > .nav-second-level {
  min-width: 180px;
}

.mini-navbar .nav-second-level {
  background-color: darken($color-secondary, 15%);
}
